<ion-view align-title="center" view-title="Get Started">
  <ion-content class="padding-top">
  	<!-- <p class="padding">
  		<span class="step size-24"><i class="icon ion-checkmark-circled color-fnb-green"></i></span>&nbsp;&nbsp;You have successfully logged in!
  	</p> -->
  	<div class="padding">
  		<p>Try <span class="heavy-font">SMARTY</span>, the intelligent budgeting tool, to automatically generate your budget. You can customize your budget later.</p>
  		<a href="#/tab/budget" class="button button-full fnb-green white-color">Try It</a>
  		<div class="padding row"></div>
  		<div class="row">
			<p class="text-center width-100"><a class="color-fnb-green no-text-decoration" href="#/doownbudget">No, I will do it on my own</a>&nbsp;&nbsp;<span class="step size-16"><i class="color-fnb-green icon ion-ios-arrow-forward"></i></span></p>
		</div>
  	</div>
  </ion-content>
</ion-view>
