<ion-view view-title="Toolbox">
  <ion-content class="padding">
  		<input class="width-100" type="text" placeholder="ask me a financial question">
  		<button class="full button icon fnb-green white-color">Ask Me!</button>

  		<div class="row padding clear"></div>

  		<div class="card">
		  <div class="item item-divider">
		    Asked Aug,24 2015
		  </div>
		  <div class="item item-text-wrap">
		    <p>Question: How can I improve my credit score?</p>
		    <hr>
		    <p><i class="icon ion-flash size-24"></i>System Answered: Pay your bills on time. Delinquent payments and collections can have a major negative impact on a credit score. Keep balances low on credit cards and other revolving credit. Apply for and open new credit accounts only as needed. Pay off debt rather than moving it around.</p>
		  </div>
		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-chatbox"></i>
		      Comment
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-share"></i>
		      Share
		    </a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Asked Aug,24 2015
		  </div>
		  <div class="item item-text-wrap">
		    <p>Question: Can I get a business loan?</p>
		    <hr>
		    <p><i class="icon ion-flash size-24"></i>SMARTY Answered: What kind of business loan are you looking for?</p>
		    <p><a class="item item-avatar" href="#"><img src="img/john.png">John Answered: I am looking for a loan for a startup. I'd like to know what is the process.</a></p>
		    <p><i class="icon ion-flash size-24"></i>SMARTY Answered: Let me find you someone smarter than me to help you.</p>
		    <p><a class="item item-avatar" href="#"><img src="img/mark.png">Mark Johnson Answered: We generally don't invest in startups. However we would be interested to talk to you and see if any of our existing products can work for you. Would you like to scheule an appointment at one of our branches or like to talk over the phone?</a></p>
		  </div>
		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-chatbox"></i>
		      Comment
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-share"></i>
		      Share
		    </a>
		  </div>
		</div>
		<div class="row padding clear"></div>
		<p class="p-center"><a href="#/tab3/budget3">Home</a></p>
  </ion-content>
</ion-view>