<ion-view align-title="center" view-title="Add Account">
  <ion-content>
  	<div class="list list-inset">
	  <label class="item item-input">
	  	<span class="input-label">First Name</span>
	    <input type="text" value="John" placeholder="Last Name">
	  </label>
	  <label class="item item-input">
	  	<span class="input-label">Last Name</span>
	    <input type="text" value="Doe" placeholder="Last Name">
	  </label>
	  <label class="item item-input">
	  	<span class="input-label">Account No.</span>
	    <input type="text" value="123456789" placeholder="Account No.">
	  </label>
	  <label class="item item-input">
	  	<span class="input-label">Routing No.</span>
	    <input type="text" value="123-45-678" placeholder="Routing No.">
	  </label>
 	  <a menu-close href="#/accountsuccess" class="button button-full fnb-green white-color">Connect</a>		
	</div>
	<div class="row">
		<p class="text-center width-100"><a class="color-fnb-green no-text-decoration" href="#/signup">Get a First National Bank Account</a></p>
	</div>
  </ion-content>
</ion-view>
