<ion-view view-title="Goal: Home">
	<ion-content class="padding">
		<div class="list">
		  <div class="item range range-positive">
		  	How much are you expecting you need to save for a downpayment?
		    <input type="range" name="volume" min="5000" max="100000" value="10000">
		  </div>
		  <div class="item range range-positive">
		  	How many months from now are you planning to buy?
		    <input type="range" name="volume" min="0" max="60" value="24">
		  </div>
		  <div class="row padding clear"></div>
		  Which of these saving tools would you like to use?
		  <div class="list">
			  <label class="item item-radio">
			    <input type="radio" name="group">
			    <div class="item-content">
			      Save pennies on transactions!
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
			  <label class="item item-radio">
			    <input type="radio" name="group">
			    <div class="item-content">
			      Feel Guilty And Save!
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
			  <label class="item item-radio">
			    <input type="radio" name="group">
			    <div class="item-content">
			      Put away money for bills
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
			  <label class="item item-radio">
			    <input type="radio" name="group">
			    <div class="item-content">
			      Vault
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
			</div>
		</div>
		<div class="row padding clear"></div>
		<p class="p-center"><a href="#/tab3/budget3">Home</a></p>
	</ion-content>
</ion-view>



