<ion-view view-title="Options">
	<ion-content class="padding">
		<p>Would you like to try any of these?</p>
		<div class="card">
		  <div class="item item-divider">
		    Save pennies on transactions
		  </div>
		  <div class="item item-text-wrap">
		    Every time you spend with your card, save the pennies! <a href="">Try it</a> 
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Feel Guilty And Save!
		  </div>
		  <div class="item item-text-wrap">
		    Everytime you treat yourself to a guilty pleasure, set up a rule to put some money in your account!  <a href="">Try it</a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Put away money for bills
		  </div>
		  <div class="item item-text-wrap">
		    Worried you will spend it all? Put away money for bills right from your paycheck so you have to worry less about spending them before its time to pay your bills. <a href="#/vault">Try it</a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Real-time budget information
		  </div>
		  <div class="item item-text-wrap">
		    Get notifications real time about the exact status of your budget and goals. 
		  </div>
		</div>
	</ion-content>
</ion-view>