<ion-view view-title="Options">
	<ion-content class="padding">
		<p>Are you considering any of these options?</p>
		<div class="card">
		  <div class="item item-divider">
		    Ask family/friend for help
		  </div>
		  <div class="item item-text-wrap">
		    You can ask a family member or friend to transfer you money even if they don't have a First National Bank account(you can use Dwolla).
		  </div>
		</div>
		<!-- <div class="card">
		  <div class="item item-divider">
		    Peer-to-peer micro lending
		  </div>
		  <div class="item item-text-wrap">
		    This is a basic Card with some text.
		  </div>
		</div> -->
		<div class="card">
		  <div class="item item-divider">
		    Payday Loans
		  </div>
		  <div class="item item-text-wrap">
		    You can learn about how payday loans work, what percentages of interest are charged, and the consequences of failing to make a payment.
		    <a href="#/paydayloan">click here</a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Local Resources
		  </div>
		  <div class="item item-text-wrap">
		    Find out what financial related resources are available from local non-profits and community groups in your area.
		    <a href="#/localresources">click here</a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Ask a FNB Banker for options
		  </div>
		  <div class="item item-text-wrap">
		    <a href="">Contact</a> a banker through this app or make an appointment at a local branch.
		  </div>
		</div>
	</ion-content>
</ion-view>