<ion-view view-title="Goals">
	<ion-content class="padding">
		<p>What do you want to save for?</p>
		<a href="" class="button button-full icon-left  size-24 ion-android-car fnb-green white-color ">Car</a>
		<div class="row padding clear"></div>
		<a href="#/carsaving" class="button button-full icon-left  size-24 ion-ios-home fnb-green white-color ">Home</a>
		<div class="row padding clear"></div>
		<a href="" class="button button-full icon-left  size-24 ion-android-plane fnb-green white-color ">Vacation</a>
		<div class="row padding clear"></div>
		<p class="p-center"><a href="#/tab3/budget3">Home</a></p>
	</ion-content>
</ion-view>