<ion-view align-title="center" view-title="First National Bank">
  <ion-content>
  	<!-- <div class="row row-center">
  		<div class="col-center"><img src="img/ionic.png"></div>
  	</div> -->
    <div class="list list-inset">
	  <label class="item item-input">
	  	<span class="input-label">Username</span>
	    <input type="text" value="johndoe@gmail.com" placeholder="Username">
	  </label>
	  <label class="item item-input">
	  	<span class="input-label">Password</span>
	    <input type="password" value="johndoe12345" placeholder="Password">
	  </label>
 	  <a href="#/accountsuccess" class="button button-full fnb-green white-color">Login</a>		
	</div>
	<div class="row">
		<p class="text-center width-100"><a class="color-fnb-green no-text-decoration" href="#/signup">SignUp</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a class="color-fnb-green no-text-decoration" href="#/forgotpassword">Forgot Password</a></p>
	</div>
  </ion-content>
</ion-view>
