<ion-view view-title="Local">
	<ion-content class="padding">
		<p>Resources from Omaha non-profits and communities</p>
		<ul class="list locallist">
		    <li class="item"><a href="">Energy Bills</a></li>
		    <li class="item"><a href="">Food</a></li>
		    <li class="item"><a href="">Childcare</a></li>
		    <li class="item"><a href="">Legal</a></li>
		    <li class="item"><a href="">Career</a></li>
		    <li class="item"><a href="">Education</a></li>
		    <li class="item"><a href="">Social Services</a></li>
		    <li class="item"><a href="">I'm not sure</a></li>
		</ul>
		 <div class="row padding clear"></div>
		  <div class="row padding clear"></div>
		  <a class="balanced" href="#/onemonth">Jump 1 month</a>
	</ion-content>
</ion-view>