<ion-view view-title="Woohoo!">
	<ion-content class="padding">

		<p class="padding">In the last 30 days, you have<br><br>
	  		<span class="step size-24"><i class="icon ion-trophy color-fnb-green"></i></span>&nbsp;&nbsp;Paid your bills on time!<br><br>
	  		<span class="step size-24"><i class="icon ion-trophy color-fnb-green"></i></span>&nbsp;&nbsp;Kept your balance positive!<br><br>
	  	</p>

	  	<p><a href="#/tab2/budget2" class="no-text-decoration color-fnb-green"><i class="ion-flash size-24 color-fnb-green"></i>&nbsp;&nbsp;Woohoo! With a little bit of effort you can save up to $25/month. Would you like to start?&nbsp;&nbsp;<i class="ion-ios-arrow-forward size-16 color-fnb-green"></i></a></p>

	</ion-content>
</ion-view>