<ion-view view-title="Payday Loans">
	<ion-content class="padding">
		<p>A payday loan (also called a payday advance, salary loan, payroll loan, small dollar loan, short term, or cash advance loan) is a small, short-term unsecured loan, "regardless of whether repayment of loans is linked to a borrower's payday." The loans are also sometimes referred to as "cash advances," though that term can also refer to cash provided against a prearranged line of credit such as a credit card. Payday advance loans rely on the consumer having previous payroll and employment records. Legislation regarding payday loans varies widely between different countries and, within the USA, between different states.</p>
		<p><b>Draining money from low-income communities</b>
The likelihood that a family will use a payday loan increases if they are unbanked, or lack access to a traditional deposit bank account. In an American context the families who will use a payday loan are disproportionately either of black or Hispanic descent, recent immigrants, and/or under-educated. These individuals are least able to secure normal, lower-interest-rate forms of credit. Since payday lending operations charge higher interest-rates than traditional banks, they have the effect of depleting the assets of low-income communities. The Insight Center, a consumer advocacy group, reported in 2013 that <b>payday lending cost U.S communities $774 million a year</b>.</p>

		<div class="row padding clear"></div>

		<p>Consider these options</p>

		<div class="card">
		  <div class="item item-divider">
		    Local Resources
		  </div>
		  <div class="item item-text-wrap">
		    Find out what financial related resources are available from local non-profits and community groups in your area.
		    <a href="#/localresources">click here</a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Ask a FNB Banker for options
		  </div>
		  <div class="item item-text-wrap">
		    <a href="">Contact</a> a banker through this app or make an appointment at a local branch
		  </div>
		</div>

		<div class="row padding clear"></div>

	</ion-content>
</ion-view>