<ion-view view-title="Woohoo!">
	<ion-content class="padding">

		<p class="padding">In the last 3 months, you have<br><br>
	  		<span class="step size-24"><i class="icon ion-trophy color-fnb-green"></i></span>&nbsp;&nbsp;Paid your bills on time!<br><br>
	  		<span class="step size-24"><i class="icon ion-trophy color-fnb-green"></i></span>&nbsp;&nbsp;Kept your balance positive!<br><br>
	  		<hr><br>
	  		<span class="step size-24"><i class="icon ion-trophy color-fnb-green"></i></span>&nbsp;&nbsp;Saved a little bit every month!<br><br>
	  		<span class="step size-24"><i class="icon ion-trophy color-fnb-green"></i></span>&nbsp;&nbsp;Stayed within your budget!<br><br>
	  	</p>

	  	<p><a href="#/tab3/budget3" class="no-text-decoration color-fnb-green"><i class="ion-flash size-24 color-fnb-green"></i>&nbsp;&nbsp;Woohoo! Check out your budget status&nbsp;&nbsp;<i class="ion-ios-arrow-forward size-16 color-fnb-green"></i></a></p>

	</ion-content>
</ion-view>