<ion-view view-title="Vault">
	<ion-content class="padding">
		Choose how much you can put away from your paycheck for your bills.
		<ul class="list checkbox-balanced">
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Rent $350
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Credit Card $175
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     MUD $75
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Verizon $75
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Cox $75
		  </li>
		</ul>

		<div class="row padding clear"></div>

		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Accountability Partner Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Phone Number">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Email">
		  </label>
		</div>

		<button class="button button-full fnb-green white-color icon-left ion-person-add">Add Accountability Partner</button>

		<div class="row padding clear"></div>

		<button class="button button-full fnb-green white-color">Initiate Vault Transfer</button>

		<div class="row padding clear"></div>

		<a class="balanced" href="#/threemonths">Jump 3 months</a>

	</ion-content>
</ion-view>
